body {
	text-align: center;
	color: rgba(0, 0, 0,0.5);
	text-transform: uppercase;
	letter-spacing: 0.5em;
	background: linear-gradient(to right, red, yellow);
}

h1 {
	font: 600 3.5em 'Raleway', sans-serif;
	
}

h3 {
	font 1.5em;
	letter-spacing: 0em;
	text-transform: lowercase;
}